body{
    margin:0%;
    padding:0%;
  box-sizing: border-box;
}
#section1{
    padding: 20px;
    text-align: center;
    align-items: center;
    

}
#colorful{
  color: aqua;
}
.Heding{
font-size: 20px;
color: brown;

}
#section2{
display: flex;
justify-content: space-between;
padding-bottom: 20px;
align-items: center;


}
.stylebutton{
  font-size: 40px;
  color: rgb(90, 80, 80);
  border-radius: 10px;
 
 
}


.image1{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.cards{
  padding:10px 20px;
  box-shadow: 2px 2px 2px 2px;
  border: 7px solid rgb(146, 66, 66);
  text-align: justify;
 background-color: rgb(157, 165, 42);
border-radius: 10px;
}

.buttonn{
  font-size: 40px;
  color: rgb(18, 210, 231);
  background-color: chocolate;
}
.buttonn:hover{
color: blueviolet;

 
 
}
#cardsection{
  color: rgb(26, 27, 27);
  padding: 20px;
  
}
#majordiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}
#card{
  background-color: rgb(243, 137, 9);
  padding:10px 20px;
  
  border-top: 7px solid rgb(90, 54, 54);
  text-align: justify;
  border-bottom: 7px solid rgb(90, 54, 54);
  border-radius: 10px;
}
#parag{
  font-size: 13px;
  height:54px;
}